{% extends 'base.html' %} 
{% block head %} {{ super() }} {% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <span style="background-color: #FFED99; display: inline-block; font-family: 'Arvo', sans-serif; font-size: 18px;" class="flash-msg py-2 px-3 m-2">{{ message }}</span>
        {% endfor %}
    {% endif %}
{% endwith %}

<form class="px-4" method="post" action="/" style="position: absolute; top: 50%; left: 50%; width: 80%; transform: translate(-50%, -50%);">
    <h2 class="px-4 pb-2 pt-4 text-info text-center" style="font-family: 'Arvo', sans-serif;">Alterar Senha de Usuário de Rede</h2>
    <div class="form-group py-2">
        <input type="text" name="ad_user_login" class="form-control" placeholder="Digite o login do usuário" style="color: #787878;">
    </div> 
    <div class="w-100 d-flex justify-content-center">
        <input type="submit" value="Pesquisar Usuário " class="btn btn-info w-25 mt-4 text-light">
    </div>
</form>
{% endblock %}
